body {
  background-color: lightblue;
}

h1 {
  color: rgb(59, 161, 230);
  text-align: center;
}
h2{
  color: rgb(71, 190, 245);
  text-align: ;
  font-family: verdana;
  font-size: 25px;
}
p {
  font-family: verdana;
  font-size: 20px;
}
footer1 {
  color: rgb(48, 185, 248);
  text-align: ;
  font-family: verdana;
  font-size: 25px;
}
  